@import 'variables';

h2 {
  text-align: center;
  margin: 8px 0 2px;
  font-weight: 700;
  color: $dark-text;
}

.subtitle {
  text-align: center;
  color: $text-muted-color;
  margin: 0 0 20px;
  font-size: 14px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
}
mat-form-field {
  width: 100%;
  margin-bottom: 12px;
}

button {
  width: 100%;
  margin-bottom: 12px;
}

.submit-btn {
  margin-top: 8px;
}
